.characteristic {
  width: 320px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    margin: 0 0 3px;
  }

  &__title-subtitle {
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #63d1bb;
    margin-bottom: 30px;
  }

  &__paragraph {
    margin: 0 0 30px;
  }

  &__photo {
    display: inline-block;
    margin-top: 28px;
  }

  &__price {
    margin-top: 28px;
    margin-bottom: 28px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
  }
}

.characteristic__photo-img {
  vertical-align: middle;
}

.characteristic__row {
  box-shadow: inset 0 -1px 0 0 #ececec;
}

.characteristic__row td {
  padding-bottom: 10px;
  padding-top: 12px;
}

.characteristic__row td:first-child {
  min-width: 98px;
}

.characteristic__row td:last-child {
  min-width: 155px;
}

@media (min-width: $tablet-width) {
  .characteristic {
    width: 768px;
    padding: 50px 50px 0;
    position: relative;

    &__description {
      width: 290px;
    }

    &__cost {
      width: 290px;
    }

    &__inner-wrapper {
      display: flex;
      width: 100%;
      margin-bottom: 57px;
    }

    &__title {
      margin-right: auto;
      font-size: 43px;
      height: 50px;
      margin-bottom: 0;
    }

    &__title-subtitle {
      width: 130px;
      text-align: center;
      margin-bottom: 0;
    }

    &__paragraph {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 40px;
    }

    &__table {
      width: 100%;
    }

    &__photo {
      margin-top: 0;
    }

    &__photo-img {
      position: absolute;
      top: 167px;
      width: 333px;
      height: 404px;
      left: 50%;
    }

    &__price {
      font-size: 20px;
      margin-bottom: 34px;
      margin-top: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .characteristic {
    width: 1050px;
    padding: 0;

    &__title {
      position: static;
      z-index: 10;
      font-size: 53px;
      line-height: 57px;
      height: auto;
    }

    &__title-subtitle {
      order: -1;
      margin-right: 40px;
      padding-top: 8px;
    }

    &__inner-wrapper {
      margin-top: 127px;
      align-items: center;
    }
    &__photo-img {
      width: 525px;
      height: 636px;
      top: 71px;
    }
    &__price {
      margin-top: 83px;
      margin-bottom: 31px;
    }
    &__description,
    &__cost {
      margin-left: 175px;
    }
  }
}
