.footer-logo {
  display: none;
}
@media (min-width: $tablet-width) {
  .footer-logo {
    display: block;
    width: 100%;
    text-align: center;

    &__link {
      display: block;
      padding: 20px 0;
    }
  }

  .footer-logo__link:active .footer-logo__icon {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .footer-logo__link {
    text-align-last: left;
    max-width: 102px;
    padding: 0;
  }

  .footer-logo__link:hover .footer-logo__icon {
    fill: #46c1ae;
    opacity: 1;
    transition: 0.3s;
  }
  .footer-logo__link:active .footer-logo__icon {
    opacity: 0.3;
  }
}
