.social {
  width: 100%;
  padding: 22.5px 0;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.social__link {
  text-decoration: none;
}

.social__link + a {
  margin-left: 40px;
}

.social__link:active .social__icon {
  fill: #46c1ae;
  opacity: 0.3;
}
@media (min-width: $tablet-width) {
  .social {
    border-bottom: none;
    padding: 23px 0;
  }
}

@media (min-width: $desktop-width) {
  .social__link:hover .social__icon {
    fill: #46c1ae;
    opacity: 1;
    transition: 0.3s;
  }
  .social__link:active .social__icon {
    opacity: 0.3;
  }
}
